# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# -----------------------------
# Virtual Environment
# -----------------------------
venv/
.venv/

# -----------------------------
# Environment Variables
# -----------------------------
.env
.env.*

# -----------------------------
# Streamlit Secrets
# -----------------------------
.streamlit/secrets.toml

# -----------------------------
# Pytest
# -----------------------------
.pytest_cache/

# -----------------------------
# ChromaDB
# -----------------------------
chroma_db/
chromadb/

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# Logs
# -----------------------------
*.log